.appMain-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;

}

.container2{
  margin: 40px auto; 


}
@media only screen and (max-width: 600px )and (max-width: 700px)  {
  .appMain-container{
    display: grid;
    grid-template-columns: 1fr ;
    padding: 0px;
    overflow: hidden;
  }
  .container1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  .container2{
    margin: 0px auto; 
  
  }
   
  

}
@media only screen and (min-width: 700px )and (max-width:900px)  {
  .appMain-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
  }
  
  .container2{
    margin: 40px auto; 
  
  }
   
  

/* } */
/* @media only screen and (max-width: 1200px )  {
  .appMain-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px;
  }
  .container2{
    margin: 0px auto; 
  
  } */
   
  

}


